<div class="d-flex justify-content-between mb-3">  
    <mdb-form-control class="w-75">
        <input mdbInput type="text" id="form1" class="form-control" />
        <label mdbLabel class="form-label" for="form1">Crypto label</label>
    </mdb-form-control>
    <button type="button" class="btn btn-primary" mdbRipple>Subscribe</button>
</div>
<span class="mb-3 d-block">Market data</span>

<div class="container" style="border:1px solid #d4d4d4; border-radius:10px">
    <div class="row">
    <div class="col-md d-flex flex-column">
        <span>Symbol:</span>
        <span>BTC/USDT</span>
    </div>
    <div class="col-md d-flex flex-column">
        <span>Price:</span>
        <span>$48.000</span>
    </div>
    <div class="col-md d-flex flex-column">
        <span>Time</span>
        <span>Aug 7, 9:23</span>
    </div>
    </div>
</div>
<button (click)='getToken()'>Get token</button>
